@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto_regular.ttf) format("truetype");
    font-style: normal;
    font-weight:400
}

@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/roboto_condensed_regular.ttf) format("truetype");
    font-style: normal;
    font-weight:400
}

@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/roboto_condensed_light.ttf) format("truetype");
    font-style: normal;
    font-weight:300
}

@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/roboto_condensed_bold.ttf) format("truetype");
    font-style: normal;
    font-weight:700
}

h1 {
    font-size: 34px;
    font-size:2.125rem
}

h1, h2 {
    line-height: 44px;
    line-height: 2.75rem;
    margin-top: 1.375rem;
    margin-bottom:1.375rem
}

h2 {
    font-size: 30px;
    font-size:1.875rem
}

h3 {
    font-size: 20px;
    font-size:1.25rem
}

h3, h4 {
    line-height: 22px;
    line-height: 1.375rem;
    margin-top: 1.375rem;
    margin-bottom:1.375rem
}

h4 {
    font-size: 18px;
    font-size:1.125rem
}

body {
    line-height: 1.6;
    font-family: Roboto Condensed, sans-serif;
    font-size:16px
}

body, html {
    background-color: #000;
    margin: 0;
    padding: 0;
    height:100%
}

body {
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    color: #4a4a4a;
    overflow-x: hidden;
    height:auto
}

body, body * {
    box-sizing:border-box
}

p {
    margin-top: 1.375rem;
    margin-bottom:1.375rem
}

::-webkit-input-placeholder {
    color: #747474;
    opacity:1
}

::-moz-placeholder {
    color: #747474;
    opacity:1
}

:-ms-input-placeholder {
    color: #747474;
    opacity:1
}

::-ms-input-placeholder {
    color: #747474;
    opacity:1
}

::placeholder {
    color: #747474;
    opacity:1
}

.hidden {
    display:none
}

.lang {
    position: relative;
    display: block;
    width: 112px;
    height: 30px;
    cursor: pointer;
    text-align:right
}

.lang:hover {
    color:#d1d1d3
}

.lang .current {
    display: block;
    width: 112px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    color: #fff;
    opacity:.7
}

.lang .current:hover {
    opacity: 1;
    color:#fff
}

.lang .popup {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: -15px;
    width: 100%;
    height: auto;
    min-width: 300px;
    max-width: 300px;
    min-height: 75px;
    background-color: #fff;
    border-radius: 4px;
    display: none;
    flex-direction: row;
    flex-wrap:nowrap
}

.lang .popup:before {
    content: "";
    width: 10px;
    right: 34px;
    top: -5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2);
    transform:rotate(45deg)
}

.lang .popup:after, .lang .popup:before {
    height: 10px;
    position: absolute;
    background:#fff
}

.lang .popup:after {
    width: 20px;
    content: " ";
    right: 28px;
    top:0
}

.lang .langs {
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding:12px 24px
}

.lang .langs .item {
    color: #4a4a4a;
    opacity: .7;
    line-height: 2.2;
    cursor: pointer;
    list-style-type: none;
    display: list-item;
    text-align: center;
    text-decoration:none
}

.lang .langs .item:hover {
    opacity:1
}

.doclink {
    cursor: pointer;
    color: #fff;
    opacity: .7;
    font-weight:400
}

.doclink:hover {
    color: #fff;
    opacity:1
}

.form .doclink {
    color: #747474;
    opacity: 1;
    text-decoration:underline
}

.form .doclink:hover {
    text-decoration:none
}

.agreement-inline {
    margin: 0;
    padding: 0;
    display:inline-block
}

.modalbox {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99994;
    box-sizing:border-box
}

.modalbox .container {
    height: 100%;
    left: 0;
    outline: none;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: normal;
    width: 100%;
    background:rgba(0, 0, 0, .5)
}

.modalbox .content {
    width: 90%;
    max-width: 980px;
    padding: 10px 15px 30px 30px;
    border-radius: 4px;
    display: inline-block;
    background: #fff;
    margin: 20px 0 6px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    height:90%
}

.modalbox .close {
    background: #fff;
    border: 0;
    border-radius: 10px;
    color: #555;
    cursor: pointer;
    height: 44px;
    margin: 0;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index:10
}

.modalbox .close svg {
    fill: transparent;
    opacity: .8;
    stroke: currentColor;
    stroke-width: 1.5;
    transition:stroke .1s
}

.modalbox .title {
    display: block;
    text-align: center;
    font-size: 30px;
    padding:0 40px
}

.modalbox .wrapper {
    height: 97%;
    overflow: auto;
    overflow-y: scroll;
    font-size:19px
}

.modalbox .wrapper p {
    letter-spacing: 0;
    text-indent: 20px;
    padding: 5px 0;
    line-height:26px
}

.modalbox .wrapper ul {
    padding-left:40px
}

.modalbox .wrapper li {
    list-style-type:disc
}

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family:Roboto Condensed, sans-serif
}

body {
    background: #000 url(../images/promo/titans_green/login_titans_fon.jpg) no-repeat 50%;
    background-size:cover
}

.disabled {
    opacity:.4
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow: initial;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 90px;
    clear:both
}

.landing-feedback-wrap {
    display: flex;
    flex-direction: column;
    width:340px
}

.landing-feedback-wrap .landing-feedback-logo {
    display: block;
    width: 120px;
    margin:0 auto
}

.landing-feedback-wrap .feedback-items-wrap {
    display: flex;
    flex-direction:column
}

.landing-feedback-wrap .feedback-items-wrap .landing-feedback-item {
    width: 100%;
    height: auto;
    min-height: 150px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px auto
}

.landing-feedback-wrap .feedback-items-wrap .landing-feedback-item div, .landing-feedback-wrap .feedback-items-wrap .landing-feedback-item span {
    font-size: 20px;
    line-height: normal;
    color:#fff
}

.landing-feedback-wrap .landing-feedback-bottom {
    display: block;
    margin: -15px auto 0;
    width:100%
}

.input {
    height: 42px;
    width: 100%;
    max-width: 560px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 0 12px;
    font-family:Roboto Condensed
}

.input, .inputs input {
    color: #4a4a4a;
    font-size: 18px;
    font-weight:700
}

.inputs input {
    background: none;
    border: none;
    outline: none;
    caret-color: #9d9d9d;
    z-index: 2;
    width: 446px;
    height: 40px;
    font-family: Roboto Condensed !important;
    box-sizing:border-box
}

input {
    font:700 18px Roboto Condensed
}

.inputs .recover {
    text-align: right;
    color: #747474;
    font-family: RobotoCondensedRegular;
    font-weight: 400;
    font-size: 16px;
    margin-top: 3px;
    padding: 0 3px;
    margin-bottom: 25px;
    height:26px
}

.holder.remember.recover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:10px
}

.page .inputs .holder, .page .inputs .holder.links .text1 {
    margin-bottom:5px
}

.page .inputs .recover {
    padding:0
}

.inputs .next .button, .inputs .next .text, .inputs .play .button, .inputs .reset .button {
    line-height: 43px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    width: 166px;
    height: 43px;
    background-color: #39b44a;
    font-family: Roboto Condensed;
    font-weight: 700;
    border-radius: 3px;
    text-transform:uppercase
}

.gofra .inputs .holder.next .text, .ice .inputs .holder.next .text, .promo_titans2 .inputs .holder .button, .promo_titans2 .inputs .holder.next .text, .promo_titans .inputs .holder .button, .promo_titans .inputs .holder.next .text, .titans_green .inputs .holder .button, .titans_green .inputs .holder.next .text {
    background-image: none;
    border: 4px solid #c19f5f;
    max-width: 250px;
    min-width: 180px;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0 10px;
    border-radius: 8px;
    position:relative
}

.gofra .inputs .holder.next .text, .ice .inputs .holder.next .text, .titans_green .inputs .holder .button, .titans_green .inputs .holder.next .text {
    background:#39b44a
}

.gofra .inputs .holder .button:before, .ice .inputs .holder .button:before, .loot2 .inputs .holder .button:before, .loot3 .inputs .holder .button:before, .loot .inputs .holder .button:before, .promo_titans2 .inputs .holder .button:before, .promo_titans .inputs .holder .button:before, .titans_green .inputs .holder .button:before {
    content: "";
    position: absolute;
    width: 99%;
    display: block;
    background-color: transparent;
    height: 95%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #000;
    border-radius:6px
}

.gofra .inputs .holder .button:after, .ice .inputs .holder .button:after, .loot2 .inputs .holder .button:after, .loot3 .inputs .holder .button:after, .loot .inputs .holder .button:after, .promo_titans2 .inputs .holder .button:after, .promo_titans .inputs .holder .button:after, .titans_green .inputs .holder .button:after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    border: 1px solid #000;
    border-radius:9px
}

.s-block .facebook:active, .s-block .google:active {
    background-color:#f8f8f8
}

.s-block .facebook:hover, .s-block .google:hover {
    background-color:#fbfbfb
}

.landing-form.authentication .form_page.authentication, .landing-form.recovery .form_page.recovery, .landing-form.registration .form_page.registration {
    display:block
}

.header {
    z-index: 100;
    width: 100%;
    height: auto;
    min-height:60px
}

.header .left {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    float:left
}

.header .left .logo {
    display: inline-block;
    width: 112px;
    height: 30px;
    vertical-align:middle
}

.header .left .support, .header .right .support {
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 30px;
    text-transform: uppercase;
    opacity: .7;
    font-family: Roboto Condensed, sans-serif;
    font-weight:700
}

.header .right .support {
    display:none
}

.header .left .support:hover {
    opacity: 1;
    color:#fff
}

.header .left .delimiter {
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #fff;
    margin-left: 10px;
    vertical-align:middle
}

.header .right {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    float:right
}

.form_page, .recovery-password-page .header .right {
    display:none
}

.form_page {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height:460px
}

.form_page.visible {
    display:block
}

.form_page .form {
    position: relative;
    text-align: left;
    margin: 0 auto;
    width: 550px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    height:485px
}

.form_page .form .inputs {
    color: #828c9c;
    height: 350px;
    cursor: default;
    width: 100%;
    max-width: 522px;
    padding:34px 37px 30px
}

[lang=ja] .holder .titles .error {
    font-size:12px !important
}

[lang=ja] .holder .titles .text {
    font-size:11px !important
}

.form_page .form .inputs .capitalize {
    text-transform:capitalize
}

.form_page .form .inputs .holder {
    padding: 0;
    color:#45454f
}

.form_page .form .inputs .holder .leftright {
    display: table;
    width: 96%;
    line-height: 24px;
    height:24px
}

.form_page .form .inputs .titles {
    display: table;
    width:100%
}

.form_page .form .inputs .value {
    position: relative;
    width: 448px;
    height: 43px;
    border: 1px solid #4c4842;
    border-radius:3px
}

.form_page .form .inputs .clickable {
    text-decoration: none;
    color: #747474;
    cursor: pointer;
    font-family: Roboto Condensed;
    font-weight:700
}

.form_page .form .inputs .clickable:hover {
    opacity: .7;
    text-decoration:underline
}

.form_page .form .inputs .links {
    text-align: center;
    font-size: 15px;
    height:70px
}

.form_page .form .inputs .links .first {
    text-transform: uppercase;
    color: #4a4a4a;
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 28px;
    height: 37px;
    margin-bottom:5px
}

.form_page .form .inputs .links .second {
    font-family: Roboto Condensed;
    font-weight: 700;
    color: #45454f;
    font-size:18px
}

.form_page .form .inputs .email .text, .form_page .form .inputs .password .text {
    color: #747474;
    font-family: Roboto Condensed;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin-left: 2px;
    display: table-cell;
    text-align: left;
    width: 32%;
    font-weight:700
}

.form_page .form .inputs .email .text {
    width:30%
}

.form_page .form .inputs .recover .clickable {
    font-size: 14px;
    text-decoration: underline;
    color: #5d5d6c;
    font-weight:400
}

.form_page .form .inputs .login, .form_page .form .inputs .next, .form_page .form .inputs .play, .form_page .form .inputs .reset {
    text-align:center
}

.form_page .form .inputs .next {
    margin-top:10px
}

.form_page .form .inputs .error {
    color: #ff6c6c;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    line-height:24px
}

.form_page .form .inputs .agreement label, .form_page .form .inputs .remember label {
    cursor:pointer
}

.form_page .form .inputs .agreement .checkmark, .form_page .form .inputs .remember .checkmark {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 16px;
    height: 16px;
    border: 2px solid #8b8b8b;
    box-sizing:border-box
}

.form_page .form .inputs .agreement .container, .form_page .form .inputs .remember .container {
    height: 9px;
    width: 26px;
    display: table-cell;
    position:relative
}

.form_page .form .inputs .agreement input, .form_page .form .inputs .remember input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    width: 32px;
    height:30px
}

.form_page .form .inputs .agreement .checkmark:after, .form_page .form .inputs .remember .checkmark:after {
    content: "";
    position: absolute;
    display:none
}

.form_page .form .inputs .agreement .container .checkmark:after, .form_page .form .inputs .remember .container .checkmark:after {
    left: 1px;
    top: 2px;
    width: 10px;
    height: 8px;
    background-image: url(../images/promo/checkmark.png);
    background-repeat:no-repeat
}

.form_page .form .inputs .agreement .container input:checked ~ .checkmark:after, .form_page .form .inputs .remember .container input:checked ~ .checkmark:after {
    display:block
}

.form_page .form .inputs .agreement .text, .form_page .form .inputs .remember .text {
    display: table-cell;
    font-size: 14px;
    text-align: left;
    color:#747474
}

.form_page .form .s-block {
    position: relative;
    background-color: #f1f1f1;
    padding: 0 32px;
    width: 550px;
    max-width: 522px;
    height: 80px;
    line-height: 80px;
    -webkit-border-radius: 8px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, .09);
    background: #ffdbc2;
    background:linear-gradient(90deg, #ffd4b7 0, #fec8a9 35%, #fec2a4)
}

.form_page .form .s-block .s-block-title {
    position: absolute;
    top: -24px;
    left: 14px;
    line-height:normal
}

.form_page .form .s-block .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    line-height:80px
}

.form_page .form .s-block .buttons .button {
    width: 115px;
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-decoration: none;
    color: #747474;
    border-radius: 2px;
    white-space: nowrap;
    cursor:pointer
}

.form_page .form .s-block .buttons .button:active {
    background-color:#f8f8f8
}

.form_page .form .s-block .buttons .button:hover {
    background-color:#fbfbfb
}

.form_page .form .s-block .buttons .button .icon {
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-top:0
}

.form_page .form .s-block .buttons .button.google .icon {
    background-image: url(../images/auth/icon_google.png);
    width:18px
}

.form_page .form .s-block .buttons .button.facebook .icon {
    background-image:url(../images/auth/icon_fb.png)
}

.form_page .form .s-block .buttons .button.vk .icon {
    background-image:url(../images/auth/vk.png)
}

.form_page .form .s-block .buttons .button.ok .icon {
    background-image:url(../images/auth/ok.png)
}

.form_page .form .s-block .buttons .button .text {
    color: #747474;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
    text-align:left
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width:100%
}

.footer .left {
    margin-left: 20px;
    float: left;
    color: #fff;
    opacity: .7;
    font-size:14px
}

.footer .left, .footer .right {
    display: inline-block;
    margin-top:20px
}

.footer .right {
    margin-right: 20px;
    float:right
}

.footer .right a {
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 0 5px 10px;
    color: #fff;
    opacity: .7;
    font-size: 14px;
    text-decoration:none
}

.footer .right a:hover {
    opacity:1
}

.footer {
    bottom: 0;
    position: absolute;
    z-index:3
}

.modal-cookie {
    padding: 18px 25px 15px;
    border-radius: 6px;
    background: #fff;
    position: fixed;
    text-align: left;
    vertical-align: middle;
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 475px;
    box-sizing: border-box;
    right: 20px;
    bottom: 48px;
    box-shadow:0 0 3px #000
}

.profile .modal-cookie {
    bottom:20px
}

.modal-cookie .container {
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

.modal-cookie .close {
    background: #fff;
    border: 0;
    border-radius: 10px;
    color: #555;
    cursor: pointer;
    height: 44px;
    margin: 0;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index:10
}

.modal-cookie .close > svg {
    fill: transparent;
    opacity: .8;
    stroke: currentColor;
    stroke-width: 1.5;
    transition:stroke .1s
}

.modal-cookie .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom:8px
}

.modal-cookie-text {
    color: #747474;
    font-size: 14px;
    line-height: 1.3;
    max-width: 415px;
    height: auto;
    margin-bottom:11px
}

.modal-cookie-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top:3px
}

.modal-cookie-footer .modal-cookie-link, .modal-cookie-footer .modal-cookie-link:focus, .modal-cookie-footer .modal-cookie-link:hover {
    border: 1px solid #747474;
    background-color: #fff;
    font-weight: 700;
    color: #747474;
    margin-right:13px
}

.modal-cookie-footer .modal-cookie-btn {
    border: 1px solid #747474;
    border-radius: 2px;
    background-color: #747474;
    color: #fff;
    margin-left:13px
}

.modal-cookie-footer .modal-cookie-btn, .modal-cookie-footer .modal-cookie-link {
    padding: 7px 24px;
    min-width: 135px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family:Roboto Condensed
}

@-webkit-keyframes autofill {
    0%, to {
        color: #666;
        background:transparent
    }
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover, select:-internal-autofill-previewed, select:-internal-autofill-selected, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, textarea:-webkit-autofill, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:hover {
    background: none !important;
    -webkit-box-shadow: inset 0 0 0 9999px #fff !important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both
}

