* {
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    background-color: #000;
    margin: 0;
    padding: 0;
    height:100%
}

body,
html {
    /* line-height: 1.6;
    font-size: 16px; */
    /* min-width: 320px;
    min-height: 100vh; */
    position: relative;
    color: #4a4a4a;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background: url(../images/bg_tile.png)
    /* background: #000 url(../images/bg_tile.png) no-repeat 50%; */
    /* background-size: cover */
}

.header {
    z-index: 100;
    width: 100%;
    height: auto;
    min-height: 0px
}

.main {
    margin: 0 auto;
    display: block;
    overflow: initial;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    clear:both
}

.auth_root{
    width: auto;
    min-width: 630px;
    position: relative;
    z-index: 3;
}

.auth_header {
    position: relative;
    z-index:3
}

.game_logo_img {
    width: 100%;
    max-width: 360px;
    max-height: 300px;
}

.auth_main {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    min-height: 560px;
    background: url(../images/form.png) no-repeat 50%;
    /* padding: 12px 0 25px; */
}

.auth_form{
    max-width: 585px;
    padding: 40px 20px 20px 20px;
    position: relative;
    text-align: left;
    margin: 0 auto 0 auto;
    width: 510px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    height: 435px;
}

.auth_login_buttons_frame{
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
    position: relative;
    height: 100px;
    line-height: 80px;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.09);
    background: linear-gradient(90deg,#ffd4b7 0,#fec8a9 35%,#fec2a4);
}

.auth_login_buttons_title{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 0px;
    left: 14px;
    line-height: normal;
}

.auth_login_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    height: 80px;
    line-height: 80px;
}

.button{
    width: 115px;
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-decoration: none;
    color: #747474;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer;
}

/* Общие свойства для классов иконок в классе кнопки */
.button .icon {
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 19px;
    margin-top: 0;
}

/* Общие свойства для классов текста в классе кнопки */
.button .text {
    color: #747474;
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
    text-align: left;
}

/* В HTML указывается через проблелы, здесь через пробел указывается класс дочернего элемента */
.button.google .icon {
    background-image: url(../images/icon_google.png);
}

/* В HTML указывается через проблелы, здесь через пробел указывается класс дочернего элемента */
.button.facebook .icon {
    background-image: url(../images/icon_fb.png);
}

.auth_footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    width: 100%
}