<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>Purchase page</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="static/css/styles.css?v=1.1">
        <script src="static/js/script.js?v=1.1"></script>
    </head>

    <body>
        <div id="app">
            <form id="buy" action="/buy" method="POST">
                <input type="hidden" name="item_id" value="3"/> 
                <button type=submit>Purchase item</button>
            </form>
        </div>
    </body>
</html>