<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>Title text</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="static/css/styles.css?v=1.0">
        <script src="static/js/script.js"></script>
    </head>

    <body>
        User UUID: {{uuid}} <br>
        Facebook UID: {{facebook_uid}} <br>
        Google UID: {{google_uid}} <br>

        <br>

        {{#if (not facebook_uid)}} 
            <form action=/facebook/login method=POST>
                <button type=submit>Join Facebook ID</button>
            </form>
            <br>
        {{/if}}

        {{#if (not google_uid)}}
            <form action=/google/login method=POST>
                <button type=submit>Join Google ID</button>
            </form>
            <br>
        {{/if}}

        <br>

        <form action=/logout method=POST>
            <button type=submit>Logout</button>
        </form>
    </body>
</html>