<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>Title text</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="static/css/styles.css?v=1.0">
        <script src="static/js/script.js"></script>
    </head>

    <body>
        <div class="layout">
            <header>
                <h3 class="title">Login page</h3>
            </header>

            <form action=/facebook/login method=POST>
                <button type=submit>Login with Faceboook</button>
            </form>
            
            <br>

            <form action=/google/login method=POST>
                <button type=submit>Login with Google</button>
            </form>
        </div>
    </body>
</html>