<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>Title text</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="static/css/styles.css?v=1.0">
        <script src="static/js/script.js"></script>
    </head>

    <body>
        <div id="app">
            <div class="header">
            </div>

            <div class="main">
                {{!-- Форма аутентификации --}}
                <div class="auth_root">
                    {{!-- Заголовок аутентификации --}}
                    <div class="auth_header">
                        <img src="static/images/game_logo.png" alt="game_logo.png" class="game_logo_img">
                    </div>

                    {{!-- Середина аутентификации по-высоте --}}
                    <div class="auth_main">
                        {{!-- Форма для POST запроса --}}
                        <div class="auth_form">
                            {{!-- Блок с горизонтальными кнопками логина --}}
                            <div class="auth_login_buttons_frame">
                                {{!-- Надпись над блоком кнопок логина --}}
                                <div class="auth_login_buttons_title">Войти через:</div>
                                {{!-- Блок с кнопками --}}
                                <div class="auth_login_buttons">
                                    {{!-- Кнопка логина в Google --}}
                                    <form name="google_auth_form" id="google_auth_form" action="/google/login" method="POST">
                                        <div class="button google" onClick="document.forms['google_auth_form'].submit();">
                                            <div class="icon"></div> 
                                            <div class="text">Google</div>
                                        </div> 
                                    </form>
                                    {{!-- Кнопка логина в FB --}}
                                    <form name="facebook_auth_form" id="facebook_auth_form" action="/facebook/login" method="POST">
                                        <div class="button facebook" onClick="document.forms['facebook_auth_form'].submit();">
                                            <div class="icon"></div> 
                                            <div class="text">Facebook</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>

                    {{!-- Самый низ формы аутентификации --}}
                    <div class="auth_footer">
                        {{!-- <img src="images/game_logo.png" alt="logo.png" class="logo_img"> --}}
                    </div>
                </div>
            </div>

            <div class="footer">
            </div>

            {{!-- ----------------------------------------------------------------- --}}

            {{!--
            <form action=/facebook/login method=POST>
                <button type=submit>Login with Faceboook</button>
            </form>
            
            <br>

            <form action=/google/login method=POST>
                <button type=submit>Login with Google</button>
            </form>
            --}}
        </div>
    </body>
</html>