version: "3.8"
services:
    mongo:
        image: mongo:4.4.5
        container_name: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root
    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - 8081:8081
        links:
            - mongo
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: root